:root{
    --color-primary:rgb(33, 19, 43);
    --color-fontPrincipal:rgb(231, 231, 231);
    --color-fontSecondary:rgb(241, 207, 231);
    --colorC:rgb(243, 10, 138);
    --color-secondary: rgba(128, 25, 187, 0.651);
    --color-terciary: rgb(32,17,43);

    --color-button: rgba(128, 25, 187, 0.651);
    --buttonHover:#3d094d;

    --gradient: linear-gradient(180deg, rgba(32,17,43,1) 21%, rgba(21,11,28,1) 43%, rgba(13,5,19,1) 71%);


    --spacing: 15px
}