<mat-card>
    <mat-card-title>Cadastro de usuário</mat-card-title>
    <mat-card-content>
        <p>
            <mat-form-field style="color-scheme: red;" appearance="legacy">
            <mat-label>Nome de login:</mat-label>
            <input matInput placeholder="Nome de login">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field style="color-scheme: red;" appearance="legacy">
            <mat-label>Senha:</mat-label>
            <input matInput placeholder="Senha">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field style="color-scheme: red;" appearance="legacy">
            <mat-label>Classe:</mat-label>
            <input matInput placeholder="Classe">
            </mat-form-field>
        </p>
            
    </mat-card-content>
</mat-card>